main#main-contacto{
    background-color: $bg-blanco;
    padding: 4rem 0 6rem 0;
    div.row{
        display: flex;
        justify-content: space-around;
        margin: 0;
        margin-bottom: 2rem;
        margin-top: 2rem;
        padding: 1rem;
        h2{
            margin-bottom: 1rem;
            color: $texto-titulos;
        }
        section{
            padding: 0.3rem;
            form{
                div{
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    #nombre,
                    #apellido{
                        @include estilo-input;
                        width: 100%;
                    }
                }
                #email{
                    @include estilo-input;
                    width: 100%;
                }
                #telefono{
                    @include estilo-input;
                    width: 50%;
                }
                #consulta{
                    @include estilo-input;
                    width: 100%;
                }
                #boton_enviar{
                    width: 20%;
                    padding: 0.5rem;
                    border-radius: 0.5rem;
                    float: right;
                    border: $bordes-btn-input;
                    background-color: $bg-botones;
                }
            }
        }
    }
}